<!DOCTYPE html>
<html lang="en">
@inject IHttpContextAccessor contextHttp
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Razor PagesTo Do @(ViewData["Title"] ?? "")</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RazorPagesToDo.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <style>
        .border-bottom {
            border-bottom: 3px solid green !important;
        }
    </style>
</head>
<body>
    <!-- Navbar goes here -->
    <nav class="bg-white shadow-lg">
        <div class="max-w-6xl mx-auto px-4">
            <div class="flex justify-between">
                <div class="flex space-x-7">
                    <!-- Website Logo -->
                    <div>
                        <a href="/" class="flex items-center py-4 px-2 p-3">
                            <img src="~/images/logo80x80.png" alt="Logo" class="h-8 w-8 mr-2" />
                            <span class="font-semibold text-gray-500 text-lg">Help Desk</span>
                        </a>
                    </div>
                    <!-- Primary Navbar items -->
                    <div class="hidden md:flex items-center space-x-1">

                        <a href="/"
                           class="py-4 px-2 text-green-500 @(contextHttp.HttpContext.Request.Path.Value == "/" ? "border-bottom" : "" ) font-semibold text-neutral-500 transition duration-200">Home</a>
                        <a href="/Tickets"
                           class="py-4 px-2 @(contextHttp.HttpContext.Request.Path.Value.ToLower().StartsWith("/tickets") ? "border-bottom" : "" ) font-semibold hover:text-green-500 transition duration-300">Tickets</a>
                        <a href="/About"
                           class="py-4 px-2 text-gray-500 @(contextHttp.HttpContext.Request.Path.Value.ToLower().StartsWith("/about") ? "border-bottom" : "" ) font-semibold hover:text-green-500 transition duration-300 [&.active]:text-black/90 dark:[&.active]:text-neutral-400">About</a>
                        <a href="/Contact"
                           class="py-4 px-2 text-gray-500 @(contextHttp.HttpContext.Request.Path.Value.ToLower().StartsWith("/contact") ? "border-bottom" : "" ) font-semibold hover:text-green-500 transition duration-300 [&.active]:text-black/90 dark:[&.active]:text-neutral-400">Contact Us</a>
                    </div>
                    <!-- Secondary Navbar items -->
                    <div class="hidden md:flex items-center space-x-3">
                        @if(contextHttp.HttpContext.Session.GetString("user") != null)
                        {
                            <a href="/logout"
                            class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-orange-500 hover:text-white transition duration-300">Log Out</a>
                        }
                        else
                        {
                            <a href="/Login"
                               class="py-2 px-2 font-medium text-gray-500 rounded @(contextHttp.HttpContext.Request.Path.Value.ToLower().StartsWith("/login") ? "border-bottom" : "" ) hover:bg-green-500 hover:text-white transition duration-300">Log In</a>
                        }                       
                    </div>
                    <!-- Mobile menu button -->
                    <div class="md:hidden flex items-center">
                        <button class="outline-none mobile-menu-button">
                            <svg class="w-6 h-6 text-gray-500"
                                 x-show="!showMenu"
                                 fill="none"
                                 stroke-linecap="round"
                                 stroke-linejoin="round"
                                 stroke-width="2"
                                 viewBox="0 0 24 24"
                                 stroke="currentColor">
                                <path d="M4 6h16M4 12h16M4 18h16"></path>
                            </svg>
                        </button>
                    </div>
                    <!-- Mobile menu -->
                    <div class="hidden mobile-menu">
                        <ul class="">
                            <li class="active"><a href="/" class="block text-sm px-2 py-4 font-semibold @(contextHttp.HttpContext.Request.Path.Value == "/" ? "border border-green-500" : "" ) ">Home</a></li>
                            <li><a href="/Tickets" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300 @(contextHttp.HttpContext.Request.Path.Value.ToLower().StartsWith("/tickets") ? "border border-green-500" : "" ) ">Tickets</a></li>
                            <li><a href="/About" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300 @(contextHttp.HttpContext.Request.Path.Value.ToLower().StartsWith("/about") ? "border border-green-500" : "" ) ">About</a></li>
                            <li><a href="/Contact" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300 @(contextHttp.HttpContext.Request.Path.Value.ToLower().StartsWith("/contact") ? "border border-green-500" : "" ) ">Contact</a></li>
                        </ul>
                        <!-- Secondary Navbar items -->
                        <div class="md:flex items-center space-x-3" style="display:@(contextHttp.HttpContext.Session.GetString("user") != null ? "none":"")">
                            <a href="/Login"
                               class="py-2 px-2 font-medium text-gray-500 rounded hover:bg-green-500 hover:text-white transition duration-300 @(contextHttp.HttpContext.Request.Path.Value.ToLower().StartsWith("/login") ? "border border-green-500" : "" )">Log In</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - RazorPagesToDo - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>

        // Grab HTML Elements
        const btn = document.querySelector("button.mobile-menu-button");
        const menu = document.querySelector(".mobile-menu");

        const menu2 = document.querySelector("#navbarSupportedContent1");


        // Add Event Listeners
        btn.addEventListener("click", () => {
            menu.classList.toggle("hidden");
        });
    </script>

</body>

</html>